.main {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.main > p {
    max-width: 20%;
    width: 200px;
    height: 150px;
    margin: 0;
    flex-shrink: 0;
}
.experienceMain{
    max-width: 70%;
    margin-left: 5rem;
}
.experienceMain > h3{
    margin: 0;
}
.icon {
    width: 48px;
    height: 48px;
    filter: invert(100%) sepia(97%) saturate(21%) hue-rotate(178deg) brightness(104%) contrast(102%); /*white filter */
}
.icons {
    display: flex;
}
.icons {
    display: flex;
}
.icons img{
    padding: 10px;
}
@media (max-width: 850px){
    .main{
      flex-direction: column;
    }
    .main > p {
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 0;
    }
    .experienceMain{
      max-width: 100%;
        margin: 0;
    }
}
