.main{
    max-width: 70%;
}
.icon {
    width: 48px;
    height: 48px;
    filter: invert(100%) sepia(97%) saturate(21%) hue-rotate(178deg) brightness(104%) contrast(102%); /*white filter */
}
.icons {
    display: flex;
}
.icons a{
    padding: 10px;
}
.icon:hover{
    filter: invert(40%) sepia(17%) saturate(1175%) hue-rotate(164deg) brightness(95%) contrast(86%);
}
@media (max-width: 850px){
    .main{
        max-width: 100%;
    }
}
