.theSecretOfUs {
  text-align: center;
  scroll-snap-align: start;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.theSecretOfUs > h1 {
  max-width: 50%;
}

.theSecretOfUsDownArrow {
  height: 64px;
  width: 64px;
  filter: invert(100%) sepia(97%) saturate(21%) hue-rotate(178deg) brightness(104%) contrast(102%); /*white filter */
}
